.container-custom {
  width: 100%;
  height: 50vh;
  margin-bottom: 1.5em;
  display: flex;
}

.container__img-coffee,
.container__img-cascara {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container__img-coffee {
  background-image: url("./img/gree-manos.jpg");
  border-radius: 15px 0 0 15px;
}

.container__img-cascara {
  background-image: url("./img/cascara-manos.jpg");
  border-radius: 0 15px 15px 0;
}

.c-cascara {
  flex-direction: row-reverse;
}

.text-coffee {
  border-radius: 0 15px 15px 0;
}

.text-cascara {
  border-radius: 15px 0 0 15px;
}

.container-text {
  width: 40%;
  background-color: #ead1d9;
  padding: 2.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-custom {
  color: white;
  background: #b68681;
  border-radius: 12px;
  width: 8.3em;
  text-align: center;
  padding: 0.5em;

  transition: all 0.2s ease-in-out;

  box-shadow: 0px 3px 13px -4px rgba(0, 0, 0, 0.75);
}

.btn-custom:hover {
  color: white;
  font-weight: bold;
  width: 8.3em;
  background: #b68681a4;
}

@media screen and (max-width: 600px) {
  .container-custom {
    flex-direction: column;
  }

  .container-text {
    width: 100%;
    text-align: center;
  }

  .container__img-coffee,
  .container__img-cascara {
    width: 100%;
  }

  .container__img-coffee {
    border-radius: 15px 15px 0 0px;
  }

  .container__img-cascara {
    border-radius: 15px 15px 0 0;
  }

  .text-coffee {
    border-radius: 0 0px 15px 15px;
  }

  .text-cascara {
    border-radius: 0 0 15px 15px;
  }
}

@media screen and (max-width: 480px) {
  .container-text .text-description {
    display: none;
  }

  .btn-custom {
    width: 100%;
    margin-top: 1.5em;
  }

  .btn-custom:hover{
    width: 100%;
  }
}
