.img-custom {
  object-fit: cover;
  height: 80vh;
}

.border-custom {
  border-radius: 1.5em;
  box-shadow: -1px 13px 22px -7px rgba(0, 0, 0, 0.31);
}

.title-custom{
  font-weight: 700;
  font-size: 2.5em;
}

.btn-custom{
  color: white;
  background: #b68681;
  border-radius: 12px;
  width: 8.3em;
  text-align: center;
  padding: 0.5em;


  transition: all 0.2s ease-in-out;



  box-shadow: 0px 3px 13px -4px rgba(0, 0, 0, 0.75);
}

.btn-custom:hover {
  color: white;
  font-weight: bold;
  width: 8.3em;
  background: #b68681a4;

}